$backgroundRed: url('../images/food2.png');
$backgroundWhite: url('../images/food-light.png');

$redHeading:#c61700;
$redButton: #d60700;
$redSpan:#ba1600;

$paragraphSize: 18px;

// $mobile: "(min-width: 320px) and (max-width: 767px)";
// $tablet: "(min-width: 768px) and (max-width: 1023px)";
// $desktop: "(min-width: 1024px)";
